.navbar-header img {
    height: 44px;
    margin-top: 4px;
}

#contact-us .contact-wrapper {
    background-color:rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 40px;
    min-height:200px;
}

#contact-us .contact-wrapper h3 {
    color:rgb(40, 141, 203);
}

#contact-us .social-below {
    display: block;
    margin-top: 5px;
}

.translucent-back {
    background-color:rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;    
}

.team-wrapper:hover {
    transform: none;
}

@media(min-width:767px){
    .team-wrapper:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.team-inner {
    background-color: black;
    -webkit-background-size: contain !important;
}

.team-wrapper .description {
    background-color: rgba(0,0,0,0.3);
}

.section:not(:last-of-type) {
    min-height: 100vh;
}

.team-wrapper > .team-inner > a {
    position: relative;
    text-align: center;
}

.team-wrapper > .team-inner > .twitter-icon {
    color: rgb(40, 141, 203);
}

.team-wrapper > .team-inner > .facebook-icon {
    color: rgb(70,98,158);
}

.team-wrapper > .team-inner > .twitter-icon:hover {
    background-color: rgb(40, 141, 203);
}

.team-wrapper > .team-inner > .facebook-icon:hover {
    background-color: rgb(70,98,158);
}